{% include "header.html" %}

<div class="title">
        <h1>About Me.</h1>
        <br>
        <p class="side-line">Wanna know more about me? Your headed the right way!</p>
</div>
<br>
<br>
<div class="about-content">
<p><strong>So basically my name is Ananya, I am 12 and a half years old, and I'm about to go to grade 8, because I just finished grade 7 and we have a short break after the term is over, and then new term starts, and after a month summer vacation.
        I live in India, and I love eating, singing, reading, programming and doing the mental exercise. I HATE relaxing.
</strong></p>
<p><strong>
        Some of my favourite books are Percy Jackson and the Olympians, The heroes of Olympus, Mary Poppins, I used to love Roald Dahl when I was a kid, and I really like harry Potter.
</strong></p>
<p><strong>
        My favourite subjects at school are Math and Science, I like a few chapters in history, and I like English, Hindi and French.
</strong></p>
</div>

{% include "footer.html" %}